[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
source-jazzhr = {editable = true, file = "file:///Users/emilycogsdill/Documents/GitHub/airbyte-source-jazzhr"}

[dev-packages]

[requires]
python_version = "3.9"
